*{
    border: 0;
    padding: 0;
    margin: 0;

  
    text-decoration: none;
    
}


html, body{
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: rgb(91, 91, 91);
}

body{
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
}



.blackSide {
    width: 250px;
    height: 7px;
    
    
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: right;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    transform: translate(-50%, -50%) rotate(45deg);
 
    animation: tremilique 3.5s,
               off 3s 3.6s forwards;
}

.blackSide .cable{
    animation: crash 3s 3.6s forwards;
}

@keyframes crash {
    0%{

    }
    100%{
        transform: translateX(-30px)
                   translateY(1000px)
                   rotate(1800deg);
        
    }

}

.blackSide .cable2{
    animation: crash2 3s 3.6s forwards;
}

@keyframes crash2 {
    0%{

    }
    100%{
        transform: translateX(300px)
                   translateY(1000px)
                   rotate(1800deg);
    }

}


.whiteSide{
    width: 250px;
    height: 7px;

    background-color: white;
    transform: translate(-50%, -50%) rotate(135deg);
    position: absolute;
    
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: right;

    
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    
    animation: tremilique 3s, 
               retracting 0.3s 3s forwards, 
               cut 0.3s 3.5s forwards,
               victoryPosition  1s 4s forwards;
}

.whiteSide::after{
    content: "";
   

    background-image: url('/pecasSVG/rei.svg');
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem */
    filter: invert(1); 
    
    transform: rotate(220deg);
    height: 90px;
    width: 90px;
    
}

@keyframes retracting {
    0%{
    }

    100%{
        transform: translate(-50%, -50%) rotate(70deg);
        left: 40%;
        top: 40%;
    }
}

@keyframes cut {
    0%{

    }

    100%{
        transform: translate(-50%, -50%) rotate(200deg);
        left: 60%;
        top: 70%;
    }
}

@keyframes victoryPosition {
    0%{

    }

    100%{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%)
                   rotate(90deg);
    }
}



@keyframes tremilique {
    
    0%{
        top: 50%;
        left: 50%;

        transform: translate(-50% -50%);
    }

    10%{
        
        top: 50%;
        left: 49%;
    }

    40%{
        top: 51%;
        left: 50%;
    }

    60%{
        top: 51%;
        left: 49%;
    }

    70%{
        top: 51%;
        left: 50%;
    }


    100%{
        top: 50%;
        left: 50%;
    }

}




.whiteBlade{
    width: 200px;
    

    box-shadow: 0 0 10px white;
    animation: shrineWhite 3s infinite;
}

@keyframes shrineWhite {
    0%{
        box-shadow: 0 0 5px white;
    }

    50%{
        box-shadow: 0 0 15px white;
    }

    100%{
        box-shadow: 0 0 5px white;
    }
}



.blackBlade{
    width: 200px;
    background-color: black;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    box-shadow: 0 0 10px black;
    animation: shrineBlack 3s infinite,
               off 3s 3.6s forwards;
}

@keyframes shrineBlack {
    0%{
        box-shadow: 0 0 5px black;
    }

    50%{
        box-shadow: 0 0 15px black;
    }

    100%{
        box-shadow: 0 0 5px black;
    }
}

@keyframes off {
    0%{

    }

    20%{
        width: 0px;
    }

    100%{
        width: 0;
        display: none;
    }
}




.cable{
    width: 25px;
    height: 7px;


    background-color: gray;
}

.cable2{
    width: 25px;
    height: 7px;


    background-color: gray;
}