*{
    margin: 0;
    padding: 0;
    border: 0;

}


html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
}

#xadrez{
    background-color: grey;
    width: 40vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(8, 5vw);
}




.square{
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.peca{
    width: 100%;
    height: 100%;
    background-color: brown;

    border-radius: 100px 100px 0 0;
}



.peca:hover{
    cursor: pointer;
}

.peca img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.peca.white{
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

.peca.black{
    background-color: black;
    box-sizing: border-box;
    border: 1px solid white;
}


.marc{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.marc:hover{
    cursor: pointer;
}

.marc div{
    width: 30%;
    height: 30%;

    background-color: gray;
    border-radius: 100%;
}


.flag{
    width: 100%;
    height: 100%;
    background-color: red;
    
    position: absolute;
    backdrop-filter: blur(5px);
    opacity: 50%;
}

.flag:hover{
    cursor: pointer;
}