
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    background-color: rgb(88, 88, 88);
}

#xadrez{
    background-color: grey;
    width: 40vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(8, 5vw);
}




.square{
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black.square{
    background-color: rgb(53, 53, 53);
}

.white.square{
    background-color: rgb(232, 232, 232);
}

.peca{
    width: 100%;
    height: 100%;
  

}



.peca:hover{
    cursor: pointer;
}

.peca img{
    width: 100%;
    height: 100%;
    
}

.peca.white img{
    filter: invert(1) 
            drop-shadow(0px 0px 3px black) 
            drop-shadow(0px 0px 1px black);
    
    
}

.peca.black{
    filter: 
            drop-shadow(0px 0px 3px white) 
            drop-shadow(0px 0px 1px white);
}


.marc{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.marc:hover{
    cursor: pointer;
}

.marc div{
    width: 30%;
    height: 30%;

    background-color: gray;
    border-radius: 100%;
}


.flag{
    width: 100%;
    height: 100%;
    background-color: red;
    
    position: absolute;
    backdrop-filter: blur(5px);
    opacity: 50%;
}

.flag:hover{
    cursor: pointer;
}


.marcador{
    width: 4vw;
    height: 2vw;


    margin: 20px;
    
    border-radius: 10px;
    
}

#marcadorwhite{
    border: 2px dashed white ;
}

#marcadorblack{
    border: 2px dashed black ;
}


.box{
    display: flex;
    align-items: center;
}

.time{
    display: flex;
    font-size: 3vh;
}

